body {
    font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
    background-color: rgb(249, 250, 251);
}

h1{
    font-size: 16px;
    border-bottom: 1px solid #eee;
}

.list-container{
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(197, 202, 207);
    background:rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 2px;
    padding: 10px;
    align-items: center;
    width: 30%
}

.tasks{
    
    align-items:center;
    padding: 10px;
}